<aside class= "col side-navbar">
  <%= link_to root_path, class: "d-flex align-items-center fd-4 mb-4" do %>
		    Home
			<% end %>	
			<%= link_to root_path, class: "d-flex align-items-center fd-4 mb-4" do %>
		    Profile
			<% end %>	
			<%= link_to root_path, class: "d-flex align-items-center fd-4 mb-4" do %>
		    Explore
			<% end %>	
			<div class= " d-flex align-items-center fd-4 mb-4">
			  <%= button_tag "Tweet", class: "btn btn-primary btn-lg  rounded-pill"%>
			</div>

      <%= link_to "Log out", destroy_user_session_path, data:{"turbo-method": :delete}, class: "btn btn-primary" %>
    </div>
</aside>